#topBar{
 position: sticky;
 top: 0px;
 width: 100vw;
 background-color: var(--Secondary-color);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 5px 15px;
 z-index: 5;
}

#topBar #nav_btn{
 display: none;
}

#topBar a{
 text-decoration: none;
 margin-inline: 10px;
}

.topBarRight .searchContaner{
 background-color: var(--input-bg);
 border-radius: 15px;
 padding: 5px 10px;
}

.topBarRight .searchContaner .MuiSvgIcon-root{
 font-size: 30px;
}

.topBarRight .searchContaner input{
 border: none;
 outline: none; 
 font-size: 19px;
 color: var(--text-color);
 background-color: transparent;
}

.topBarCenter .MuiSvgIcon-root{
  font-size: 35px;
 }

.topBarCenter a{
 color: var(--icon-color);
}

.topBarCenter a:hover{
 color: var(--active-color);
}

.topBarLeft{
 display: flex;
 align-items: center;
}

.topBarLeft .profile_info{
 display: flex;
 align-items: center;
}

.topBarLeft .userPic{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 object-fit: cover;
 margin-right: 7px;
}

.dropdown{
 color: var(--text-color);
 font-size: 18px;
 font-weight: 700;
 background-color: var(--primary-color);
 padding: 10px 5px;
 border-radius: 5px;
 margin: 5px;
 position: absolute;
 top: 50px;
 right: 0px;
 display: flex;
 flex-direction: column;
 width: 230px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown >*{
  font-size: 18px;
  font-weight: 700;
  margin: 5px 10px;
  padding-block: 5px;
  color: white;  
  border-radius: 5px;
  justify-content: center;
  text-transform: capitalize;
}

.dropdown >*> .MuiSvgIcon-root{
 margin-left: 5px;
}

.dropdown a{
 background-color: var(--active-color);
}

.dropdown a:hover{
 background-color: #1167d6;
}

.dropdown button{
 background-color: tomato;
 border: none;
}

.dropdown button:hover{
 background-color: rgb(255, 81, 51);
}

.topBarLeft #themeSwitch{
 display: flex;
 align-items: center;
}

.searchDropDown{
  height: 500px;
  width: 405px;
  background-color: var(--Secondary-color);
  position: absolute;
  top: 0px;
  left: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: hidden;
  z-index: 10;
 }


@media (max-width:875px){
    #topBar #nav_btn{
     display: block;
    }

    .topBarCenter .MuiSvgIcon-root{
      font-size: 30px;
     }

    .topBarRight .searchContaner input{
     width: 200px;
   }    
  }

  @media (max-width:660px) {
    .topBarRight .psudoInput{
      display: none;
      } 

 .searchDropDown{
   left: 0px;
   border-radius: 0px;     
   width: 100vw;
   height: 100vh;
 }
  }

 @media (max-width:550px) {
 .topBarRight .psudoInput, .topBarRight img{
 display: none;
 }

 .topBarRight .searchContaner .MuiSvgIcon-root{
   font-size: 25px;
 }

 .topBarRight .searchContaner{
  padding: 5px;
  padding-left: 6px;
  border-radius: 50%;
  margin-left: 5px;
 }

 .topBarLeft .userPic {
  width: 40px;
  height: 40px;
  margin-right: 0px;
}
}

@media (max-width:370px) {
  #topBar a{
   margin-inline: 5px;
  }

  #topBar .topBarCenter{
    display: flex;
   flex-wrap: nowrap;
 
  }

  #topBar .profile_info .username{
    display: none;
  }
}