#rightBar{
 position: fixed;
 top: 60px;
 right: 0px;
 width: 300px;
 height: calc(100vh - 10px);
 margin-block: 5px;
 background-color: var(--Secondary-color);
 /* border: 1px solid #a1a1a1; */
 border-radius: 5px;
 padding: 10px;
 overflow-y: auto;
 z-index: 3;
}


@media (max-width:1275px){
    #rightBar{
     display: none;
    }
  }