.post{
 background-color: var(--Secondary-color);
 margin-block: 10px;
 width: 100%;
 border-radius: 10px;
 padding-block: 8px;
}

.post img{
 width: 100%;
}

.author a{
 color: var(--input-color);
 text-transform: capitalize;
 text-decoration: none;
}

.post-info{
 padding: 8px;
 display: flex;
}

.post-info .author-name{
 margin: 5px;
}

.post-info .prfile-pic{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 object-fit: cover;
}

.post-text{
 padding: 8px;
}

.createAt{
 opacity: 0.7;
 font-size: 14px;
}

.post_content{
 display: flex;
 flex-direction: column;
}

#post_video{
 max-height: 80vh;
 max-width: 100%;
 align-self: center;
 margin: auto;
}

.post .post_engagement{
 display: flex;
 border-top: 2.5px solid var(--border-color);
 align-items: center;
 margin-top: 10px;
 padding-block: 5px;
}

.post .post_engagement button{
 background-color: transparent;
 border: none;
 outline: none;
 color: var(--like-color);
}
.post .post_engagement > *{
 margin-inline: 5px;
}