#leftBar{
position: fixed;
top: 60px;
left: 0px;
width: 250px;
height: calc(100vh - 10px);
background-color: var(--Secondary-color);
margin-block: 5px;
display: flex;
flex-direction: column;
/* border: 1px solid #a1a1a1; */
padding: 10px;
border-radius: 5px;
transition: left 500ms ease-in-out;
}

#leftBar a{
 text-decoration: none;
 color: var(--text-color);
 margin-left: 10px;
 margin-block: 7px;
}

#leftBar a:hover{
 color: #2580FF;
}

#leftBar .profile{
 display: flex;
 align-items: center;
 margin-bottom: 10px;
}

#leftBar .profile p{
 font-size: 18px;
 margin-left: 10px;
}

#leftBar .profile img{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 object-fit: cover;
}

#leftBar a > .MuiSvgIcon-root{
 font-size: 30px;
 color: #2580FF;
}

#leftBar a > span{
 margin: 5px;
}

@media (max-width:875px){
    #leftBar{
     left: -100%;
     top: 45px;
      width: 100vw;
      z-index: 10;     
  }

    #leftBar.active{
      left: 0%;
    }
  }