#postMaker{
 background-color: var(--Secondary-color);
 width: 100%;
 height: 160px;
 margin-block: 10px;
 padding: 10px;
 border-radius: 10px;
 font-size: 20px;
}

#postMaker form{
 display: flex;
 flex-direction: column;
}

#postMaker .text_form{
 display: flex;
 align-items: center;
 margin-bottom: 5px;
 width: 100%;
}

#postMaker .text_form img{
 height: 40px;
 width: 40px;
 border-radius: 50%;
 object-fit: cover;
 margin-left: 5px;
}

#postMaker .text_form input{
 width: 100%;
 margin: 10px;
 font-size: 21px;
 padding: 7px 10px;
 border-radius: 15px;
}

#postMaker input{
 font-size: 20px;
 color: var(--text_color);
 background-color: var(--primary-color);
 border: none;
}

#postMaker input:focus{
 outline: none;
}

#mediaInput {
 color: var(--text-color2);
 padding: 5px;
 margin-inline: 5px;
 width: 200px;
 border-radius: 5px;
}
#mediaInput .MuiSvgIcon-root {
 color: #42B72A;
}

#postMaker .extentions{
 display: flex;
 justify-content: space-evenly;
} 

#postMaker .extentions span {
 color: var(--text-color2);
}

#postMaker .extentions span .MuiSvgIcon-root{
 color: #EAB026;
}

#postMaker button {
 border: none;
 outline: none;
 color: #ddd;
 background-color: #42B72A;
 padding-block: 5px;
 border-radius: 10px;
}

#postMaker button span{
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 18px;
 font-weight: bold;
}

#postMaker button span:hover{
 color: #2580FF;
}

#postMaker button span > *{
 margin-inline: 5px;
}

.media_progress{
 height: 115px;
 width: 430px;
 text-align: center;
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 background-color: var(--Secondary-color);
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 z-index: 10;
 padding: 10px;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.media_progress h4 {
 margin-bottom: 10px;
}
.media_progress .progress_bar_container{
 height: 25px;
 background-color: var(--primary-color);
 border-radius: 5px;
}

.media_progress .progress_bar_container .progress_bar{
 height: 100%;
 /* background-color: var(--primary-btn-color); */
 background-color: var(--active-color);
 border-radius: 5px;
}

@media (max-width:550px) {
 .media_progress{
 width: 90vw;            
}
}