.comment{
 padding: 5px;
}


.comment .comment_author{
    display: flex;
    align-items: center;
}

.comment .comment_author--name{
 margin-inline: 5px;
}

.comment .comment_author--pic{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 object-fit: cover;
}

.comment .created_at{
 opacity: 0.7;
 margin-right: 10px;
 margin-left: auto;
}

.comment .comment_text{
 opacity: 0.8;
 margin: 10px 0 0 10px;
}

.add_comment{
 /* border: 1px solid rgb(214, 214, 214); */
 border: 1px solid var(--Secondary-color);
 border-radius: 10px;
 margin-block: 10px;
}

.add_comment .comment_input{
 width: 80%;
 border: none;
 color: var(--text-color);
 background-color: var(--input-bg);
 font-size: 18px;
 padding: 10px 15px;
 border-radius: 20px;
 margin: 10px;
 outline: none;
 border: 1px solid #ffffff00;
}

.add_comment .comment_input:focus{
 border: 1px solid #297BE5;
}

.comment_btn{
 color: white;
 padding: 5px 10px;
 font-size: 17px;
 border: none;
 border-radius: 5px;
 background-color: #297BE5;
}