#story_container_wraper{
 width: 655px;
 position: relative;
 margin: 20px auto 10px auto;
}

#story_container{
 /* width: 50vw; */
 width: 100%;
 display: flex;
 scroll-snap-type: x proximity;
 scroll-behavior: smooth;
 overflow: hidden;
}

#story_container_wraper .scroll_btn{
 height: 40px;
 width: 40px;
 color: var(--icon-color);
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 background-color: var(--Secondary-color);
 border-radius: 50%;
 border: none;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 4;
}

#story_container_wraper .scroll_btn:hover{
 color: var(--text-color);
}

#story_container_wraper .scroll_btn.left_btn{
 left: -15px;
}

#story_container_wraper .scroll_btn.right_btn{
 right: -15px;
}

#story_maker{
 min-width: 155px;
 height: 270px;
 margin-right: 5px;
 background-color: #333;
 border-radius: 15px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.add_story_btn{
 height: 50px;
 width: 50px;
 margin-block: 5px;
 color: white;
 font-size: 26px;
 font-weight: bolder;
 text-align: center;
 background-color: #297BE5;
 padding: 10px;
 border: none;
 border-radius: 50%;
}

#story_maker p{
 color: white;
 font-size: 17px;
 font-weight: bold;
 margin: 10px;
}

.story_upload{
 text-align: center;
 color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.story_upload > *{
 margin-block: 4px;
}

.story_upload button{
 color: white;
 border: none;
 outline: none;
 padding: 5px 10px;
 border-radius: 5px;
}

.story_upload .upload_story_btn{
 background-color: var(--active-color);
}

.story_upload .cancel_story_btn{
 background-color: tomato;
}

.story , .empty_story{
 min-width: 155px;
 height: 270px;
 margin-inline: 5px;
 border-radius: 15px;
 overflow: hidden;
 position: relative;
 background-color: #333;
}

#story_container .empty_story{
 color: #E4E4E4;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

#story_container .empty_story .MuiSvgIcon-root{
 font-size: 55px;
 margin-bottom: 10px;
}

.story_info{
 height: 100%;
 width: 100%;
 position: absolute;
 background-color: rgba(0, 0, 0, 0.363);
 z-index: 2;
}

.story_info .user_pic{
 width: 45px;
 height: 45px;
 margin: 10px;
 border-radius: 50%;
 border: 4px solid #297BE5;
 object-fit: cover;
}

.story_info .user_name{
 color: white;
 font-weight: bold;
 position: absolute;
 bottom: 10px;
 left: 10px;
}

.story .story_content{
 position: relative;
 display: flex;
 align-items: center;
 height: 100%;
 width: 100%;
}

.story .story_content img{
 max-height: 270px;
 object-fit: contain;
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
}

.story .story_content video{
 max-width:100%;
 max-height: 100%;
 align-self: center;
}

.story_viewer{
 width: 35vw;
 min-width: 400px;
 height: 95vh;
 padding: 10px;
 color: white;
 background-color: #131313ee;
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 /* backdrop-filter: blur(4px); */
 z-index: 5;
}

.hide_story{
 color: white;
 padding: 5px 10px;
 background-color: transparent;
 position: absolute;
 top: 20px;
 left: 20px;
 border: none;
 z-index: 8; 
}

.story_viewer .user_info{
 display: flex;
 align-items: center;
 justify-content: flex-end;
 margin-bottom: 10px;
 z-index: 7;
}

.story_viewer a{
 color: white;
 text-decoration: none;
}

.story_viewer .user_info:hover{
 color: #297BE5;
}

.story_viewer .user_info img{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 margin-inline: 10px;
 object-fit: cover;
}

.story_viewer .story_content{
 height: calc(100% - 65px);
 display: flex;
 align-items: center;
 justify-content: center;
}

.story_viewer .story_content img{
 max-width: calc(100% - 15px);
 max-height: 500px;
}
.story_viewer .story_content video{
 max-height: 100%;
 max-width: 100%;
 padding: 5px;
}


@media (max-width:1275px){
   #story_container_wraper{
     margin-left: 220px;
    }
}

@media (max-width:875px){
   #story_container_wraper{
      margin-left: auto;
   }
  #story_container_wraper{
    width: 90%;
 }
}

@media (max-width:550px) {
   #story_container_wraper .scroll_btn{
    display: none;
   }
   #story_container{
    overflow-x: scroll;
   }
   #story_maker,.story,.empty_story{
      min-width: 132px;
      height: 210px; 
   }

  .story .story_content {
      height: auto;
 }

}

@media (max-width:500px){
 #story_container_wraper{
    width: 95%;
 }
 .story_viewer{
  height: 100vh;
  width: 100vw;
  padding: 10px;
  border-radius: 0px;
 }

 .story_viewer .story_content img {
   align-self: center;
   max-width: 90vw;
   max-height: 80vh;
 }

 #story_container::-webkit-scrollbar{
 display: none;
 }
}

