#topBar{
 background-color: white;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: static;
 width: 100vw;
 padding: 5px 10px;
}

#topBar a{
 text-decoration: none;
 margin-inline: 10px;
}

.topBarRight{
 display: flex;
}

.topBarLeft{
 display: flex;
 align-items: center;
}

.topBarLeft .userPic{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 object-fit: cover;
}

.dropdown{
 background-color: white;
 padding: 10px 5px;
 border: 1px solid grey;
 border-radius: 5px;
 margin: 5px;
 position: absolute;
 top: 50px;
}