#topBar{
 position: sticky;
 top: 0px;
 width: 100vw;
 background-color: var(--Secondary-color);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 5px 15px;
 z-index: 4;
}

#topBar #nav_btn{
 display: none;
}

#topBar a{
 text-decoration: none;
 margin-inline: 10px;
}

.topBarRight{
 display: flex;
}

.topBarLeft{
 display: flex;
 align-items: center;
}

.topBarLeft .userPic{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 object-fit: cover;
}

.dropdown{
 background-color: white;
 padding: 10px 5px;
 border: 1px solid grey;
 border-radius: 5px;
 margin: 5px;
 position: absolute;
 top: 50px;
}

@media (max-width:875px){
    #topBar #nav_btn{
     display: block;
    }
  }

@media (max-width:550px) {
 .topBarRight input{
 display: none;
 }
}