.post{
 background-color: white;
 margin-block: 10px;
 width: 100%;
 border-radius: 10px;
 padding-block: 8px;
}

.post img{
 width: 100%;
}

.post-info{
 padding: 8px;
 display: flex;
}

.post-info .author-name{
 margin: 5px;
}

.post-info .prfile-pic{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 object-fit: cover;
}

.post-text{
 padding: 8px;
}

.createAt{
 opacity: 0.7;
 font-size: 14px;
}